---
import HpSection from "../components/HpSection.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import experienceData from "../data/experiences.json";
import contactData from "../data/contacts.json";
import * as introMD from "../data/intro.md";

const pageTitle = "Grant Staublin";
import "../styles/global.css";
import InfoItem from "../components/InfoItem.astro";
import InfoItems from "../components/InfoItems.astro";
---

{/* ================================== */}
{/* About                              */}
{/* ================================== */}
<BaseLayout pageTitle={pageTitle}>
  <HpSection sectionTitle="About">
    <p>{introMD.frontmatter.title}</p>
    <div class="serif">
      {
        introMD.frontmatter.words.map((graph) => {
          return <p set:html={graph} />;
        })
      }
    </div>
  </HpSection>

  {/* ================================== */}
  {/* Experience                         */}
  {/* ================================== */}
  <HpSection sectionTitle="Work Experience">
    <InfoItems>
      {
        experienceData.map((exp) => {
          return (
            <InfoItem
              dateStart={exp.dates.dateStart}
              dateEnd={exp.dates.dateEnd}
              title={exp.title}
              subTitle={exp.subTitle}
              description={exp.description}
            />
          );
        })
      }
    </InfoItems>
  </HpSection>

  {/* ================================== */}
  {/* Contact                            */}
  {/* ================================== */}
  <div class="contact__block">
    <HpSection sectionTitle="Contact">
      <InfoItems>
        {
          contactData.map((contactData) => {
            return (
              <InfoItem label={contactData.label} title={contactData.title} />
            );
          })
        }
      </InfoItems>
    </HpSection>
  </div>
</BaseLayout>
