---
const {
  title,
  subTitle,
  link,
  linkText = "View Project",
  imageSrc,
  cssClass,
} = Astro.props;
import { Image } from "astro:assets";
---

{/* ================================== */}
{/* HTML Structure                     */}
{/* ================================== */}
<article class="cardTease">
  <div class="cardTease__image">
    <a href={link}>
      <Image src={imageSrc} alt="" />
    </a>
  </div>
  <div class="cardTease__content">
    <h3 class="cardTease__title color-text--contrast">{title}</h3>
    {
      subTitle && (
        <p class="cardTease__subTitle color-text--default">{subTitle}</p>
      )
    }

    <!-- {
      link && (
        <a class="cardTease__link color-text--accent" href={link}>
          {linkText}
        </a>
      )
    } -->

    {
      link ? (
        <a class="cardTease__link color-text--accent" href={link}>
          {linkText}
          <span class="cardTease__link-svg">
            <svg
              height="16"
              stroke-linejoin="round"
              viewBox="0 0 16 16"
              width="16"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9.53033 2.21968L9 1.68935L7.93934 2.75001L8.46967 3.28034L12.4393 7.25001H1.75H1V8.75001H1.75H12.4393L8.46967 12.7197L7.93934 13.25L9 14.3107L9.53033 13.7803L14.6036 8.70711C14.9941 8.31659 14.9941 7.68342 14.6036 7.2929L9.53033 2.21968Z"
                fill="currentColor"
              />
            </svg>
          </span>
        </a>
      ) : (
        <p class="color-text--dim">Case study coming soon</p>
      )
    }
  </div>
</article>

{/* ================================== */}
{/* Style                              */}
{/* ================================== */}
<style>
  :root {
    --tease-bg: hsla(0, 0%, 0%, 0.015);

    .theme1,
    .theme2 {
      --tease-bg: hsla(0, 0%, 0%, 0.15);
      /* blue, dark */
    }

    .theme3 {
      --tease-bg: hsla(0, 0%, 0%, 0.035);
      /* sun */
    }
  }

  a {
    display: block;
    /* border: 1px solid orange; */
  }
  .cardTease {
    border-radius: 12px;
  }
  .cardTease__image {
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    /* background-color: #e4e4df; */
    /* padding: 2rem; */
  }
  .cardTease__content {
    padding: 2rem;
    border-block-start: 1px solid hsla(0, 0%, 0%, 0.06);
    border-radius: 0 0 12px 12px;
    background-color: var(--tease-bg);
  }

  .cardTease__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.3333333333;
    letter-spacing: -0.01em;
    margin-block-start: 0;
  }

  .cardTease__subTitle {
    margin-block-start: 8px;
  }

  .cardTease__link {
    /* display: block; */
    /* border: 1px solid var(--color-accent); */
    /* border-radius: 45px; */
    /* padding: 16px; */
    display: flex;
    gap: 8px;
    margin-block-start: 12px;
    text-decoration: none;
    color: var(--color-interactive);
    /* color: var(--color-accent); */
    &:hover {
      /* text-decoration: underline; */

      .cardTease__link-svg {
        transform: translate(10px);
      }
    }
    /* &:after {
      content: "→";
    } */
  }
  .cardTease__link-svg {
    /* display: inline-blosck; */
    display: flex;
    align-items: center;
    transition: all 0.2s linear;
    /* align-self: center; */
  }
</style>
