---
import "../../styles/global.css";
import Work from "../../layouts/Work.astro";

// =================================
// Component imports
import ImageBlock from "../../components/ImageBlock.astro";
import PageTitle from "../../components/PageTitle.astro";
import GridContainer from "../../components/GridContainer.astro";
import TextBlock from "../../components/TextBlock.astro";
import Stage from "../../components/Stage.astro";
import Scrollable from "../../components/Scrollable.astro";
import Tags from "../../components/Tags.astro";

// =================================
// Image imports
// import launchpadImage from "../../images/work/landing/launchpad_tease.jpg";
import imageTest from "../../images/work/upstatement/hechinger-scrollable.jpg";
import hechingerHP from "../../images/work/upstatement/hp-photo-crop.jpg";
import hechingerStaff from "../../images/work/upstatement/staff-crop.jpg";
import hechingerStory from "../../images/work/upstatement/story-photo-crop.jpg";
import hechingerSpecial from "../../images/work/upstatement/common-core-crop.jpg";
import hechingerBeforeHead from "../../images/work/upstatement/before-headline.jpg";
import hechingerAfterHead from "../../images/work/upstatement/after-headline.jpg";
import hechingerPrimer from "../../images/work/upstatement/primer-crop.jpg";
import hechingerBefore from "../../images/work/upstatement/before-crop.jpg";
import mainImageAlt from "../../images/work/trellis-launchpad/trellis-launchpad_main.jpg";

// =================================
// Content imports
import * as introMD from "./content/hechinger/hechinger-intro.md";
const introContent = await introMD.compiledContent();

import * as designMD from "./content/hechinger/hechinger-designs.md";
const designContent = await designMD.compiledContent();

import * as primerMD from "./content/hechinger/hechinger-primer.md";
const primerContent = await primerMD.compiledContent();

// =================================
// Local Variables
const mainClass = "width--full--no-pad";
const pageTitle = "Grant Staublin | Work | Hechinger";
---

<Work pageTitle={pageTitle} noFollow>
  <div class="width--large">
    <PageTitle
      title="The Hechinger Report"
      subTitle="Creating a responsive, modern brand identity and website a premier news magazine, covering innovation and inequality in education"
      alignment="center"
    >
      <Tags
        tags={[
          "visual design",
          "UI / UX Design",
          "Project management",
          "Front-end development",
          "Wordpress Integration",
        ]}
      />
    </PageTitle>
  </div>

  {/* Scrollable HP Section =================================  */}
  <div class="width--small">
    <Scrollable caption="Hechinger Report homepage design" topper>
      <ImageBlock imageSrc={imageTest} />
    </Scrollable>
  </div>

  {/* Intro Section =================================  */}
  <TextBlock title={introMD.frontmatter.title}>
    <div>
      {(<Fragment set:html={introContent} />)}
    </div>
  </TextBlock>

  {/* Before redesign Section =================================  */}
  <div class="width--extra-small">
    <div class="">
      <div class="stage__inner">
        <ImageBlock imageSrc={hechingerBefore} />
      </div>
    </div>
    <p class="image-caption">
      The Hechinger Report was due for more modernized brand identity to match
      the quality of their journalism.
    </p>
  </div>

  {/* Grid Section =================================  */}
  <div class="width--extra-large">
    <GridContainer gridGap="gap200">
      <Stage imageSrc={hechingerHP} topper />
      <Stage imageSrc={hechingerStory} topper />
      <Stage imageSrc={hechingerSpecial} topper />
      <Stage imageSrc={hechingerStaff} topper />
    </GridContainer>
  </div>

  {/* Designs Section =================================  */}
  <TextBlock title={designMD.frontmatter.title}>
    <div>
      {(<Fragment set:html={designContent} />)}
    </div>
  </TextBlock>

  {/* Headlines Section =================================  */}
  <div class="width--small">
    <GridContainer gridGap="gap200">
      <Stage imageSrc={hechingerBeforeHead} topper isSmall />
      <Stage imageSrc={hechingerAfterHead} topper isSmall />
    </GridContainer>
    <p class="image-caption">
      Hechinger's headlines were descriptive. The featured homepage slot needed
      short, impactful headlines to draw readers in. We took a number of
      existing headlines and rewrote them to demonstrate how to make them work
      on the new homepage
    </p>
  </div>

  {/* Primer Section =================================  */}
  <TextBlock title={primerMD.frontmatter.title}>
    <div>
      {(<Fragment set:html={primerContent} />)}
    </div>
  </TextBlock>

  {/* Scrollable Primer Section =================================  */}
  <div class="border width--small">
    <Scrollable caption="Primer page concept" topper>
      <ImageBlock imageSrc={hechingerPrimer} />
    </Scrollable>
  </div>
</Work>

{/* ================================== */}
{/* Style                              */}
{/* ================================== */}
<style>
  /* This rule is used for Hechinger before photo. And for the headline rewrites */
  .image-caption {
    margin-block-start: 8px;
  }
</style>
