---
import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../styles/global.css";
import CardTease from "../../components/CardTease.astro";
import PageTitle from "../../components/PageTitle.astro";
// import { Image } from "astro:assets";

import mainImage from "../../images/work/landing/launchpad_tease.jpg";

const pageTitle = "Grant Staublin | Work";
const mainClass = "width--large";
---

{/* ================================== */}
{/* HTML                               */}
{/* ================================== */}
<BaseLayout pageTitle={pageTitle} mainClass={mainClass} noFollow>
  <PageTitle title="Selected Work" />
  <div class="work-test">
    <div class="tease-grid">
      <CardTease
        imageSrc={mainImage}
        link="/work/trellis-docs/"
        title="Trellis Design System Documentation"
        subTitle="Creating a solid foundation for an evolving design system"
      />
      <CardTease
        imageSrc={mainImage}
        link="/work/trellis-design-tokens/"
        title="Trellis Design Tokens"
        subTitle="Creating a solid foundation for an evolving design system"
      />
      <CardTease
        imageSrc={mainImage}
        link="/work/trellis-design-tokens/"
        title="Connecting Design and Engineering"
        subTitle="Creating a solid foundation for an evolving design system"
      />
      <CardTease
        imageSrc={mainImage}
        link="/work/trellis-design-tokens/"
        title="Uniform Design System"
        subTitle="Creating a solid foundation for an evolving design system"
      />
    </div>
    <CardTease
      imageSrc={mainImage}
      link="/work/trellis-design-tokens/"
      title="Responsive Web Design"
      subTitle="Creating a solid foundation for an evolving design system"
    />
  </div>

  {/* ================================== */}
  {/* Style                              */}
  {/* ================================== */}
  <style>
    .pageTitle__container {
      /* border: 1px solid; */
      margin-block-end: 64px;

      h2 {
        font-size: 64px;
        line-height: 1.25;
        font-weight: 600;
        margin-block-start: 0;
        /* color: #2e2e2b; */
      }

      h3 {
        font-size: 24px;
        line-height: 1.25;
      }
    }
    .tease-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 40px;
    }
  </style>
</BaseLayout>
