---
import "../../styles/global.css";

// Component imports
import BaseLayout from "../../layouts/BaseLayout.astro";
import CardTease from "../../components/CardTease.astro";
import PageTitle from "../../components/PageTitle.astro";

// Image imports
import launchpadImage from "../../images/work/landing/launchpad_tease.jpg";
import tokensImage from "../../images/work/landing/tokens_tease.jpg";
import uniformImage from "../../images/work/landing/uniform_tease.jpg";
import codeConnectImage from "../../images/work/landing/code-connect_tease.jpg";
import hechingerImage from "../../images/work/landing/hechinger_tease.jpg";
import magImage from "../../images/work/landing/mag_tease.jpg";
import newsImage from "../../images/work/landing/newspaper_tease.jpg";

// Page variables
const pageTitle = "Grant Staublin | Work";
const mainClass = "width--large";
---

{/* ================================== */}
{/* HTML                               */}
{/* ================================== */}
<BaseLayout pageTitle={pageTitle} mainClass={mainClass} noFollow>
  <section>
    <PageTitle title="Selected Work" margin="reduce" />

    <div class="index__grid">
      <CardTease
        imageSrc={launchpadImage}
        link="/work/trellis-docs/"
        title="Trellis Design System Documentation"
        subTitle="Improving design system discovery and access to information"
      />
      <CardTease
        imageSrc={tokensImage}
        link="/work/trellis-tokens/"
        title="Trellis Design Tokens"
        subTitle="Establishing a new foundation to power the future of the HubSpot"
      />

      <CardTease
        imageSrc={uniformImage}
        link="/work/uniform/"
        title="Uniform Design System"
        subTitle="Building from the glimmer of an idea to Uniform's first major version release"
      />
      <CardTease
        imageSrc={hechingerImage}
        link="/work/hechinger/"
        title="The Hechinger Report"
        subTitle="Establishing a new identity and RWD site for a premier education news organization"
      />
      <CardTease
        imageSrc={codeConnectImage}
        title="Bridging the gap with Figma"
        subTitle="Using design tools to connect design and engineering"
      />
    </div>
  </section>
  <section>
    <PageTitle title="Editorial Design + Art Direction" reduceSpace />
    <div class="index__grid">
      <CardTease
        imageSrc={magImage}
        title="The Boston Globe Magazine"
        subTitle="Design and Art Direction for The Boston Globe Sunday Magazine"
        link="/work/globe-magazine/"
      />
      <CardTease
        imageSrc={newsImage}
        title="The Boston Globe"
        subTitle="Design and Art Direction for The Boston Globe"
        link="/work/globe-newspaper/"
      />
    </div>
  </section>
</BaseLayout>

{/* ================================== */}
{/* Style                              */}
{/* ================================== */}
<style>
  .index__grid {
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;

    @media (min-width: 700px) {
      grid-template-columns: 1fr 1fr;
      max-width: 100%;
    }
  }

  section + section {
    margin-block-start: 84px;
  }
</style>
