---
import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../styles/global.css";
import TextBlock from "../../components/TextBlock.astro";
import TextBlockGraph from "../../components/TextBlockGraph.astro";
import PageTitle from "../../components/PageTitle.astro";
import ImageBlock from "../../components/ImageBlock.astro";

import { Image } from "astro:assets";

import mainImageAlt from "../../images/work/trellis-launchpad/trellis-launchpad_main.jpg";
import uilibraryShot from "../../images/work/trellis-launchpad/ui-library-shot.jpg";
import trellisSbShot from "../../images/work/trellis-launchpad/trellis-storybook-shot.jpg";
import experiencesImage from "../../images/trellis-docs_experiences.jpg";
import preparingImage from "../../images/trellis-docs_preparing.jpg";
import postsImage from "../../images/trellis-docs_posts.jpg";
import discoverImage from "../../images/work/trellis-launchpad/research-findings-discoverability.jpg";
import searchImage from "../../images/work/trellis-launchpad/research-findings-search.jpg";
import snippetsImage from "../../images/work/trellis-launchpad/research-findings-snippets.jpg";
import mainDarkModeImage from "../../images/work/trellis-launchpad/homepage-dark-mode.jpg";
import hpWireImage from "../../images/work/trellis-launchpad/homepage-wireframe.jpg";
import hpDesignImage from "../../images/work/trellis-launchpad/homepage-design.jpg";
import hpDesignImage2 from "../../images/work/trellis-launchpad/homepage-design2.jpg";
import jsonShot from "../../images/work/trellis-launchpad/tooling-component-json.jpg";
import alertShot from "../../images/work/trellis-launchpad/tooling-component-alert.jpg";
import componentPageShot from "../../images/work/trellis-launchpad/tooling-components-page.jpg";
import tokensPage from "../../images/work/trellis-launchpad/pages-design-tokens.jpg";
import elementsPage from "../../images/work/trellis-launchpad/pages-design-elements.jpg";
import contentsPage from "../../images/work/trellis-launchpad/pages-content.jpg";
import illoPage from "../../images/work/trellis-launchpad/pages-illustrations.jpg";
import trellisHPScroll from "../../images/work/trellis-launchpad/trellis-docs-hp-scroll-light.jpg";
import trellisHPScrollDark from "../../images/work/trellis-launchpad/trellis-docs-hp-scroll-dark.jpg";

// import * as testMD from "./content/test.md";
// const testContent = await testMD.compiledContent();

import * as introMD from "./content/trellis-docs/trellis-docs-intro.md";
const introContent = await introMD.compiledContent();

import * as contextMD from "./content/trellis-docs/trellis-docs-context.md";
const contextContent = await contextMD.compiledContent();

import * as researchMD from "./content/trellis-docs/trellis-docs-research.md";
const researchContent = await researchMD.compiledContent();

import * as toolingMD from "./content/trellis-docs/trellis-docs-tooling.md";
const toolingContent = await toolingMD.compiledContent();

import * as darkModeMD from "./content/trellis-docs/trellis-docs-dark-mode.md";
const darkModeContent = await darkModeMD.compiledContent();

import * as iterationMD from "./content/trellis-docs/trellis-docs-iteration.md";
const iterationContent = await iterationMD.compiledContent();

import * as visualMD from "./content/trellis-docs/trellis-docs-visual.md";
const visualContent = await visualMD.compiledContent();

import * as firehoseMD from "./content/trellis-docs/trellis-docs-firehose.md";
import Scrollable from "../../components/Scrollable.astro";
import GridContainer from "../../components/GridContainer.astro";
import Stage from "../../components/Stage.astro";
const firehoseContent = await firehoseMD.compiledContent();

const pageTitle = "Grant Staublin | Work | Trellis Documentation";
const mainClass = "width--large work-test";
---

{/* ================================== */}
{/* HTML                               */}
{/* ================================== */}
<BaseLayout pageTitle={pageTitle} mainClass={mainClass} noFollow>
  <div class="portfolioPage__container">
    <PageTitle
      alignment="center"
      title="Trellis Design System Launchpad"
      subTitle="As HubSpot’s design system evolves from it’s humble beginnings (Canvas) to a multi-themed, modernized system (Trellis), design system documentation needed to evolve with it"
    />

    {/* Main Section =================================  */}
    <!-- <ImageBlock
      imageSrc={mainImageAlt}
      cssClass="imageBlock__container--accent imageBlock__container--test imageBlock__container--image-bottom"
    /> -->
    <div class="width--small">
      <Scrollable caption="Trellis Launchpad Homepage" topper>
        <ImageBlock imageSrc={trellisHPScroll} />
      </Scrollable>
    </div>

    {/* Intro Section =================================  */}
    <TextBlock title={introMD.frontmatter.title}>
      <div>
        {(<Fragment set:html={introContent} />)}
      </div>
    </TextBlock>

    {/* Context Section =================================  */}
    <div class="width--large trellis-docs-grid">
      <GridContainer>
        <Stage imageSrc={uilibraryShot} />
        <!-- UI Library is the system's legacy documentation site -->

        <Stage imageSrc={trellisSbShot} />
        <!-- The Trellis Storybook is built on cusomized Storybook tooling -->
      </GridContainer>
    </div>

    <TextBlock title={contextMD.frontmatter.title}>
      <div>
        {(<Fragment set:html={contextContent} />)}
      </div>
    </TextBlock>

    {/* Learning Section =================================  */}
    <div class="image__container three-up">
      <ImageBlock
        imageSrc={discoverImage}
        caption="Engineers found UI Library more browsable, whether they were reviwing API documentation, searching for Icons or simply reviewing what a component can accomplish."
      />
      <ImageBlock
        imageSrc={searchImage}
        caption="Search is the primary mode of navigation for engineers. UI Library's search was fast, focused and visual."
      />
      <ImageBlock
        imageSrc={snippetsImage}
        caption="The editable, in-page code snippets of UI Library helped engineers quickly mock up ideas and experiment with a component."
      />
    </div>

    <TextBlock title={researchMD.frontmatter.title}>
      <div>
        {(<Fragment set:html={researchContent} />)}
      </div>
    </TextBlock>

    {/* Iteration Section =================================  */}
    <!-- <div class="image__container two-up width--medium">
      <ImageBlock imageSrc={hpWireImage} />
      <ImageBlock imageSrc={hpDesignImage} />
    </div> -->

    <div class="width--large trellis-docs-grid">
      <GridContainer gridLayout="three-up">
        <Stage imageSrc={hpWireImage} topper isSmall />
        <Stage imageSrc={hpDesignImage} topper isSmall />
        <Stage imageSrc={hpDesignImage2} topper isSmall />
      </GridContainer>
    </div>

    <TextBlock title={iterationMD.frontmatter.title}>
      <div>
        {(<Fragment set:html={iterationContent} />)}
      </div>
    </TextBlock>

    {/* Firehose Section =================================  */}
    <div class="image__container two-up">
      <div class="vertical">
        <ImageBlock
          imageSrc={preparingImage}
          caption="The Roadmap section helps consumer see where we are and where we're going"
        />
        <ImageBlock
          imageSrc={experiencesImage}
          caption="HubSpot has a number of product owned experience systems, the Experiences sections helps connect consumers to specific systems"
        />
      </div>

      <ImageBlock
        imageSrc={postsImage}
        caption="Finding relevant information inside an organizaion is challenging"
      />
    </div>
    <TextBlock title={firehoseMD.frontmatter.title}>
      <div>
        {(<Fragment set:html={firehoseContent} />)}
      </div>
    </TextBlock>

    {/* Pages Section =================================  */}

    <div class="trellis-docs-grid">
      <GridContainer>
        <Stage imageSrc={tokensPage} topper isSmall />
        <Stage imageSrc={illoPage} topper isSmall />
        <Stage imageSrc={contentsPage} topper isSmall />
        <Stage imageSrc={elementsPage} topper isSmall />
      </GridContainer>
    </div>

    <TextBlock title={visualMD.frontmatter.title}>
      <div>
        {(<Fragment set:html={visualContent} />)}
      </div>
    </TextBlock>

    {/* Tooling Section =================================  */}
    <div class="image__container two-up--side-saddle width--medium">
      <div class="vertical">
        <ImageBlock imageSrc={jsonShot} />
        <ImageBlock imageSrc={alertShot} />
      </div>
      <ImageBlock
        imageSrc={componentPageShot}
        caption="Many pages, like the Components Page are dynamically built with JSON APIs. While this creates the upfront work of creating a JSON object, the possibilities are endless in terms of where this information could be surfaces in the future."
      />
    </div>

    <TextBlock title={toolingMD.frontmatter.title}>
      <div>
        {(<Fragment set:html={toolingContent} />)}
      </div>
    </TextBlock>

    {/* Dark Mode Section =================================  */}

    <TextBlock title={darkModeMD.frontmatter.title}>
      <div>
        {(<Fragment set:html={darkModeContent} />)}
      </div>
    </TextBlock>

    <div class="width--medium">
      <Scrollable caption="Trellis Launchpad Homepage" topper>
        <ImageBlock imageSrc={trellisHPScrollDark} />
      </Scrollable>
    </div>

    <!-- <div class="image__container image--bottom width--medium">
      <Image src={mainDarkModeImage} alt="" />
    </div>
  </div> -->
  </div>

  {/* ================================== */}
  {/* Style                              */}
  {/* ================================== */}
  <style>
    .two-up {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
      @media (max-width: 700px) {
        grid-template-columns: 1fr;
      }
      /* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
    }

    .two-up--side-saddle {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 40px;
      @media (max-width: 700px) {
        grid-template-columns: 1fr;
      }
    }

    .three-up {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 40px;
      @media (max-width: 700px) {
        grid-template-columns: 1fr;
      }
    }

    .vertical {
      display: grid;
      grid-template-row: 1fr 1fr;
      grid-gap: 40px;
    }

    .image--bottom {
      margin-block-end: -3rem;
      img {
        border-radius: 12px 12px 0 0;
        border-bottom-width: 0;
      }
    }

    .trellis-docs-grid {
      --grid-container-gap: 20px;
    }
  </style>
</BaseLayout>
