---
import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../styles/global.css";
import PageTitle from "../../components/PageTitle.astro";

import TextBlock from "../../components/TextBlock.astro";
import TextBlockGraph from "../../components/TextBlockGraph.astro";
import PageTitle from "../../components/PageTitle.astro";
import ImageBlock from "../../components/ImageBlock.astro";

const pageTitle = "Grant Staublin | Work | Trellis Documentation";
const mainClass = "width--large work-test";

import { Image } from "astro:assets";

import mainImageAlt from "../../images/work/trellis-launchpad/trellis-launchpad_main.jpg";

import * as introMD from "./content/trellis-tokens/trellis-tokens-intro.md";
const introContent = await introMD.compiledContent();

import * as typeMD from "./content/trellis-tokens/trellis-tokens-type.md";
const typeContent = await typeMD.compiledContent();

import * as auditsMD from "./content/trellis-tokens/trellis-tokens-audits.md";
const auditsContent = await auditsMD.compiledContent();
---

{/* ================================== */}
{/* HTML                               */}
{/* ================================== */}
<BaseLayout pageTitle={pageTitle} mainClass={mainClass} noFollow>
  <div class="portfolioPage__container">
    <PageTitle
      title="Trellis Design Tokens"
      subTitle="Creating a new design token system that supports the HubSpot's classic visual language (Canvas) and readys the product for its next visual language (Trellis)"
    />

    {/* Main Section =================================  */}
    <ImageBlock
      imageSrc={mainImageAlt}
      cssClass="imageBlock__container--accent imageBlock__container--test imageBlock__container--image-bottom"
    />

    {/* Intro Section =================================  */}
    <TextBlock title={introMD.frontmatter.title}>
      <div>
        {(<Fragment set:html={introContent} />)}
      </div>
    </TextBlock>

    {/* Type Migration Section =================================  */}
    <TextBlock title={typeMD.frontmatter.title}>
      <div>
        {(<Fragment set:html={typeContent} />)}
      </div>
    </TextBlock>

    {
      /* Audits + Education Migration Section =================================  */
    }
    <TextBlock title={auditsMD.frontmatter.title}>
      <div>
        {(<Fragment set:html={auditsContent} />)}
      </div>
    </TextBlock>
  </div>
</BaseLayout>

{/* ================================== */}
{/* Style                              */}
{/* ================================== */}
<style></style>
