---
import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../styles/global.css";

// =================================
// Component imports
import TextBlock from "../../components/TextBlock.astro";
import PageTitle from "../../components/PageTitle.astro";
import ImageBlock from "../../components/ImageBlock.astro";
import GridContainer from "../../components/GridContainer.astro";

const pageTitle = "Grant Staublin | Work | Uniform";
const mainClass = "width--large";

// =================================
// Image imports
import believeCover from "../../images/work/globe-newspaper/sports_can-you-believe-it.jpg";
import fourComeback from "../../images/work/globe-newspaper/sports_comeback_04.jpg";
import sevenComeback from "../../images/work/globe-newspaper/sports_comeback_07.jpg";
import rumbleCover from "../../images/work/globe-newspaper/sports_rumble.jpg";
import gangCover from "../../images/work/globe-newspaper/sports_our-gang.jpg";

// =================================
// Content Imports
import * as sportsMD from "./content/globe-newspaper/sports.md";
const sportsContent = await sportsMD.compiledContent();
---

{/* ================================== */}
{/* HTML                               */}
{/* ================================== */}
<BaseLayout pageTitle={pageTitle} mainClass={mainClass} noFollow>
  <div class="portfolioPage__container">
    <PageTitle title="Uniform Design system" subTitle="xxxxxx" />

    {/* Main Section =================================  */}
    <!-- <ImageBlock imageSrc={mainImage} cssClass="imageBlock__container--test" /> -->

    {/* Intro Section =================================  */}
    <!-- <TextBlock title={introMD.frontmatter.title}>
      <div>
        {(<Fragment set:html={introContent} />)}
      </div>
    </TextBlock> -->

    {/* Sports Section =================================  */}
    <div class="mag__group width--medium">
      <GridContainer gridLayout="one-up">
        <ImageBlock
          imageSrc={believeCover}
          cssClass="width--small"
          caption="After the Sox won the World Series, you couldn't turn on Boston sports radio without hearing the radio call from the final out. Making it permanent part of the moment was a slam dunk. This cover was so successful it made an appearance in Scorsese's The Departed."
        />
      </GridContainer>
      <TextBlock title={sportsMD.frontmatter.title}>
        <div>
          {(<Fragment set:html={sportsContent} />)}
        </div>
      </TextBlock>
      <GridContainer gridLayout="two-up">
        <ImageBlock
          imageSrc={fourComeback}
          caption="It's common to get a rough idea of the narrative hook for a special section. However, at 10 a.m. no stories exist and reporters are too busy reporting and writing to bother with a designer. The clock is ticking on you need to create back to back covers, highlighting the Red Sox storied comeback in 2004, and their in-progress 2007 comeback"
        />
        <ImageBlock
          imageSrc={sevenComeback}
          caption="Over the course of about four hours, I research photos, wrote all the copy and constructed these page. When the copy desk arrived at 3 p.m., I collaborated with them to refine the writing and tighten up the visual narrative. During my editorial career, my editors trusted (expected) me to make something our of nothing and tell a story. These covers showcase that ability, IMO."
        />
        <ImageBlock
          imageSrc={rumbleCover}
          caption="This fight happened on a humid, sweltering Saturday afternoon in July. The air was heavy, figuratively and literally. This section traced the long history of the Red Sox / Yankees rivarly."
        />
        <ImageBlock
          imageSrc={gangCover}
          caption="One of the most respected newspaper editor's in the country told me this cover was too realistic. My design director said it was great. Regardless, this was fun to pull together."
        />
      </GridContainer>
    </div>

    {/* xxxxx =================================  */}

    {/* xxxxx =================================  */}
  </div>
  <!-- portfolioPage -->
</BaseLayout>

{/* ================================== */}
{/* Style                              */}
{/* ================================== */}
<style>
  .align-center {
    text-align: center;
  }

  .mag__group {
    > * + * {
      margin-block-start: 40px;
    }
  }
</style>
